<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{768,432}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{768,432}}</string>
                <key>sourceSize</key>
                <string>{768,432}</string>
            </dict>
            <key>Rectangle.png</key>
            <dict>
                <key>frame</key>
                <string>{{924,6},{82,2}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{82,2}}</string>
                <key>sourceSize</key>
                <string>{82,2}</string>
            </dict>
            <key>Rectangle_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{772,2},{154,2}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{154,2}}</string>
                <key>sourceSize</key>
                <string>{154,2}</string>
            </dict>
            <key>appear/appear_00000.png</key>
            <dict>
                <key>frame</key>
                <string>{{912,95},{83,13}}</string>
                <key>offset</key>
                <string>{-1,-31}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{32,99},{83,13}}</string>
                <key>sourceSize</key>
                <string>{149,149}</string>
            </dict>
            <key>appear/appear_00001.png</key>
            <dict>
                <key>frame</key>
                <string>{{87,955},{83,67}}</string>
                <key>offset</key>
                <string>{-1,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{32,45},{83,67}}</string>
                <key>sourceSize</key>
                <string>{149,149}</string>
            </dict>
            <key>appear/appear_00002.png</key>
            <dict>
                <key>frame</key>
                <string>{{172,951},{83,69}}</string>
                <key>offset</key>
                <string>{-1,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{32,43},{83,69}}</string>
                <key>sourceSize</key>
                <string>{149,149}</string>
            </dict>
            <key>appear/appear_00003.png</key>
            <dict>
                <key>frame</key>
                <string>{{95,436},{83,71}}</string>
                <key>offset</key>
                <string>{-1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{32,41},{83,71}}</string>
                <key>sourceSize</key>
                <string>{149,149}</string>
            </dict>
            <key>appear/appear_00004.png</key>
            <dict>
                <key>frame</key>
                <string>{{334,937},{83,75}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{32,37},{83,75}}</string>
                <key>sourceSize</key>
                <string>{149,149}</string>
            </dict>
            <key>appear/appear_00005.png</key>
            <dict>
                <key>frame</key>
                <string>{{257,512},{83,79}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{32,33},{83,79}}</string>
                <key>sourceSize</key>
                <string>{149,149}</string>
            </dict>
            <key>appear/appear_00006.png</key>
            <dict>
                <key>frame</key>
                <string>{{154,779},{83,85}}</string>
                <key>offset</key>
                <string>{-1,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{32,27},{83,85}}</string>
                <key>sourceSize</key>
                <string>{149,149}</string>
            </dict>
            <key>appear/appear_00007.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,882},{83,89}}</string>
                <key>offset</key>
                <string>{-1,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{32,23},{83,89}}</string>
                <key>sourceSize</key>
                <string>{149,149}</string>
            </dict>
            <key>appear/appear_00008.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,698},{83,91}}</string>
                <key>offset</key>
                <string>{-1,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{32,21},{83,91}}</string>
                <key>sourceSize</key>
                <string>{149,149}</string>
            </dict>
            <key>appear/appear_00009.png</key>
            <dict>
                <key>frame</key>
                <string>{{867,342},{83,93}}</string>
                <key>offset</key>
                <string>{-1,9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{32,19},{83,93}}</string>
                <key>sourceSize</key>
                <string>{149,149}</string>
            </dict>
            <key>appear/appear_00010.png</key>
            <dict>
                <key>frame</key>
                <string>{{772,176},{83,95}}</string>
                <key>offset</key>
                <string>{-1,10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{32,17},{83,95}}</string>
                <key>sourceSize</key>
                <string>{149,149}</string>
            </dict>
            <key>bounce/bounce_00000.png</key>
            <dict>
                <key>frame</key>
                <string>{{772,176},{83,95}}</string>
                <key>offset</key>
                <string>{-1,10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{32,17},{83,95}}</string>
                <key>sourceSize</key>
                <string>{149,149}</string>
            </dict>
            <key>bounce/bounce_00001.png</key>
            <dict>
                <key>frame</key>
                <string>{{772,261},{83,93}}</string>
                <key>offset</key>
                <string>{-1,9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{32,19},{83,93}}</string>
                <key>sourceSize</key>
                <string>{149,149}</string>
            </dict>
            <key>bounce/bounce_00002.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,605},{83,91}}</string>
                <key>offset</key>
                <string>{-1,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{32,21},{83,91}}</string>
                <key>sourceSize</key>
                <string>{149,149}</string>
            </dict>
            <key>bounce/bounce_00003.png</key>
            <dict>
                <key>frame</key>
                <string>{{87,690},{83,87}}</string>
                <key>offset</key>
                <string>{-1,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{32,25},{83,87}}</string>
                <key>sourceSize</key>
                <string>{149,149}</string>
            </dict>
            <key>bounce/bounce_00004.png</key>
            <dict>
                <key>frame</key>
                <string>{{172,512},{83,83}}</string>
                <key>offset</key>
                <string>{-1,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{32,29},{83,83}}</string>
                <key>sourceSize</key>
                <string>{149,149}</string>
            </dict>
            <key>bounce/bounce_00005.png</key>
            <dict>
                <key>frame</key>
                <string>{{172,682},{83,81}}</string>
                <key>offset</key>
                <string>{-1,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{32,31},{83,81}}</string>
                <key>sourceSize</key>
                <string>{149,149}</string>
            </dict>
            <key>bounce/bounce_00006.png</key>
            <dict>
                <key>frame</key>
                <string>{{255,597},{83,79}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{32,33},{83,79}}</string>
                <key>sourceSize</key>
                <string>{149,149}</string>
            </dict>
            <key>bounce/bounce_00007.png</key>
            <dict>
                <key>frame</key>
                <string>{{334,682},{83,77}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{32,35},{83,77}}</string>
                <key>sourceSize</key>
                <string>{149,149}</string>
            </dict>
            <key>bounce/bounce_00008.png</key>
            <dict>
                <key>frame</key>
                <string>{{320,767},{83,77}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{32,35},{83,77}}</string>
                <key>sourceSize</key>
                <string>{149,149}</string>
            </dict>
            <key>bounce/bounce_00009.png</key>
            <dict>
                <key>frame</key>
                <string>{{257,937},{83,75}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{32,37},{83,75}}</string>
                <key>sourceSize</key>
                <string>{149,149}</string>
            </dict>
            <key>bounce/bounce_00010.png</key>
            <dict>
                <key>frame</key>
                <string>{{338,512},{83,75}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{32,37},{83,75}}</string>
                <key>sourceSize</key>
                <string>{149,149}</string>
            </dict>
            <key>bounce/bounce_00011.png</key>
            <dict>
                <key>frame</key>
                <string>{{336,597},{83,75}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{32,37},{83,75}}</string>
                <key>sourceSize</key>
                <string>{149,149}</string>
            </dict>
            <key>bounce/bounce_00012.png</key>
            <dict>
                <key>frame</key>
                <string>{{257,852},{83,77}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{32,35},{83,77}}</string>
                <key>sourceSize</key>
                <string>{149,149}</string>
            </dict>
            <key>bounce/bounce_00013.png</key>
            <dict>
                <key>frame</key>
                <string>{{255,682},{83,77}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{32,35},{83,77}}</string>
                <key>sourceSize</key>
                <string>{149,149}</string>
            </dict>
            <key>bounce/bounce_00014.png</key>
            <dict>
                <key>frame</key>
                <string>{{239,767},{83,79}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{32,33},{83,79}}</string>
                <key>sourceSize</key>
                <string>{149,149}</string>
            </dict>
            <key>bounce/bounce_00015.png</key>
            <dict>
                <key>frame</key>
                <string>{{172,597},{83,81}}</string>
                <key>offset</key>
                <string>{-1,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{32,31},{83,81}}</string>
                <key>sourceSize</key>
                <string>{149,149}</string>
            </dict>
            <key>bounce/bounce_00016.png</key>
            <dict>
                <key>frame</key>
                <string>{{172,866},{83,83}}</string>
                <key>offset</key>
                <string>{-1,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{32,29},{83,83}}</string>
                <key>sourceSize</key>
                <string>{149,149}</string>
            </dict>
            <key>bounce/bounce_00017.png</key>
            <dict>
                <key>frame</key>
                <string>{{87,868},{83,85}}</string>
                <key>offset</key>
                <string>{-1,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{32,27},{83,85}}</string>
                <key>sourceSize</key>
                <string>{149,149}</string>
            </dict>
            <key>bounce/bounce_00018.png</key>
            <dict>
                <key>frame</key>
                <string>{{87,601},{83,87}}</string>
                <key>offset</key>
                <string>{-1,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{32,25},{83,87}}</string>
                <key>sourceSize</key>
                <string>{149,149}</string>
            </dict>
            <key>bounce/bounce_00019.png</key>
            <dict>
                <key>frame</key>
                <string>{{87,512},{83,87}}</string>
                <key>offset</key>
                <string>{-1,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{32,25},{83,87}}</string>
                <key>sourceSize</key>
                <string>{149,149}</string>
            </dict>
            <key>bounce/bounce_00020.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,791},{83,89}}</string>
                <key>offset</key>
                <string>{-1,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{32,23},{83,89}}</string>
                <key>sourceSize</key>
                <string>{149,149}</string>
            </dict>
            <key>bounce/bounce_00021.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,512},{83,91}}</string>
                <key>offset</key>
                <string>{-1,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{32,21},{83,91}}</string>
                <key>sourceSize</key>
                <string>{149,149}</string>
            </dict>
            <key>bounce/bounce_00022.png</key>
            <dict>
                <key>frame</key>
                <string>{{865,427},{83,91}}</string>
                <key>offset</key>
                <string>{-1,8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{32,21},{83,91}}</string>
                <key>sourceSize</key>
                <string>{149,149}</string>
            </dict>
            <key>bounce/bounce_00023.png</key>
            <dict>
                <key>frame</key>
                <string>{{772,427},{83,91}}</string>
                <key>offset</key>
                <string>{-1,8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{32,21},{83,91}}</string>
                <key>sourceSize</key>
                <string>{149,149}</string>
            </dict>
            <key>bounce/bounce_00024.png</key>
            <dict>
                <key>frame</key>
                <string>{{921,257},{83,93}}</string>
                <key>offset</key>
                <string>{-1,9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{32,19},{83,93}}</string>
                <key>sourceSize</key>
                <string>{149,149}</string>
            </dict>
            <key>bounce/bounce_00025.png</key>
            <dict>
                <key>frame</key>
                <string>{{928,87},{83,93}}</string>
                <key>offset</key>
                <string>{-1,9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{32,19},{83,93}}</string>
                <key>sourceSize</key>
                <string>{149,149}</string>
            </dict>
            <key>bounce/bounce_00026.png</key>
            <dict>
                <key>frame</key>
                <string>{{928,2},{83,93}}</string>
                <key>offset</key>
                <string>{-1,9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{32,19},{83,93}}</string>
                <key>sourceSize</key>
                <string>{149,149}</string>
            </dict>
            <key>bounce/bounce_00027.png</key>
            <dict>
                <key>frame</key>
                <string>{{927,172},{83,95}}</string>
                <key>offset</key>
                <string>{-1,10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{32,17},{83,95}}</string>
                <key>sourceSize</key>
                <string>{149,149}</string>
            </dict>
            <key>bounce/bounce_00028.png</key>
            <dict>
                <key>frame</key>
                <string>{{772,91},{83,95}}</string>
                <key>offset</key>
                <string>{-1,10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{32,17},{83,95}}</string>
                <key>sourceSize</key>
                <string>{149,149}</string>
            </dict>
            <key>bounce/bounce_00029.png</key>
            <dict>
                <key>frame</key>
                <string>{{772,6},{83,95}}</string>
                <key>offset</key>
                <string>{-1,10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{32,17},{83,95}}</string>
                <key>sourceSize</key>
                <string>{149,149}</string>
            </dict>
            <key>disappear/disappear_00000.png</key>
            <dict>
                <key>frame</key>
                <string>{{772,176},{83,95}}</string>
                <key>offset</key>
                <string>{-1,10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{32,17},{83,95}}</string>
                <key>sourceSize</key>
                <string>{149,149}</string>
            </dict>
            <key>disappear/disappear_00001.png</key>
            <dict>
                <key>frame</key>
                <string>{{772,346},{79,93}}</string>
                <key>offset</key>
                <string>{0,9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{35,19},{79,93}}</string>
                <key>sourceSize</key>
                <string>{149,149}</string>
            </dict>
            <key>disappear/disappear_00002.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,436},{73,91}}</string>
                <key>offset</key>
                <string>{0,8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{38,21},{73,91}}</string>
                <key>sourceSize</key>
                <string>{149,149}</string>
            </dict>
            <key>disappear/disappear_00003.png</key>
            <dict>
                <key>frame</key>
                <string>{{87,779},{65,87}}</string>
                <key>offset</key>
                <string>{0,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{42,24},{65,87}}</string>
                <key>sourceSize</key>
                <string>{149,149}</string>
            </dict>
            <key>disappear/disappear_00004.png</key>
            <dict>
                <key>frame</key>
                <string>{{869,6},{53,83}}</string>
                <key>offset</key>
                <string>{0,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{48,27},{53,83}}</string>
                <key>sourceSize</key>
                <string>{149,149}</string>
            </dict>
            <key>disappear/disappear_00005.png</key>
            <dict>
                <key>frame</key>
                <string>{{869,91},{41,77}}</string>
                <key>offset</key>
                <string>{0,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{54,32},{41,77}}</string>
                <key>sourceSize</key>
                <string>{149,149}</string>
            </dict>
            <key>disappear/disappear_00006.png</key>
            <dict>
                <key>frame</key>
                <string>{{869,170},{29,71}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{60,37},{29,71}}</string>
                <key>sourceSize</key>
                <string>{149,149}</string>
            </dict>
            <key>disappear/disappear_00007.png</key>
            <dict>
                <key>frame</key>
                <string>{{900,235},{19,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{65,41},{19,67}}</string>
                <key>sourceSize</key>
                <string>{149,149}</string>
            </dict>
            <key>disappear/disappear_00008.png</key>
            <dict>
                <key>frame</key>
                <string>{{900,170},{9,63}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{70,44},{9,63}}</string>
                <key>sourceSize</key>
                <string>{149,149}</string>
            </dict>
            <key>disappear/disappear_00009.png</key>
            <dict>
                <key>frame</key>
                <string>{{924,90},{1,3}}</string>
                <key>offset</key>
                <string>{0,28}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{74,45},{1,3}}</string>
                <key>sourceSize</key>
                <string>{149,149}</string>
            </dict>
            <key>disappear/disappear_00010.png</key>
            <dict>
                <key>frame</key>
                <string>{{912,91},{1,1}}</string>
                <key>offset</key>
                <string>{-74,74}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{149,149}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>loading.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:bd693df3f197a937f4754911ea5aeae3$</string>
            <key>textureFileName</key>
            <string>loading.png</string>
        </dict>
    </dict>
</plist>
